.rcorners {
    position: relative;
    font-family:"Arial";
    border-radius: 10px;
    border: 1px solid blue;
    text-align : left;
    padding-left: 40px;
    padding-top:20px;
    width: 250px;
    height: 150px;    
    line-height:200%;
    margin-top:50px;
}

 body {
    margin-top:100px; 
    text-align:center; 
}
.tooltip1{
    display: inline;
    position: relative;
}

.tooltip1:hover:after{
    background: #333;
    background: rgba(0,0,0);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 5px;
    width:max-content;
    position: absolute;
    z-index: 98;
}

.tooltip1:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}